<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">

    <title>Food Info Inflammation Resource</title>
  </head>
  <body>
    <div class="container">
      <div class="mt-1"><h1>Is it Inflammatory?</h1></div>

      <form class="form-inline">
        <div class="input-group">
          <input id="search" type="text" class="form-control" placeholder="Search..." aria-label="Search...">
        </div>
      </form>

      <div class="row" id="types"></div>

      <hr/>

      <div id="items"></div>

      <hr/>
      
      <p><small>This app simply answers the question; <em>"Could this food cause inflammation"</em>?
        <br>This app is endorsed by zero health professionals, do your own research, etc etc.
      </small></p>

    </div>

  <div id="back-to-top">
    <a id="button_top" href="#" class="btn btn-link" role="button" title="Back to top"><i class="fa fa-level-up fa-2x"></i></a>
  </div>
  <div id="clear-filter">
    <a id="button_clear" href="#" class="btn btn-link" role="button" title="Clear Filter"><i class="fa fa-window-close fa-2x"></i></a>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js" integrity="sha256-IyWBFJYclFY8Pn32bwWdSHmV4B9M5mby5bhPHEmeY8w=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.0/jquery.mark.min.js" integrity="sha256-1iYR6/Bs+CrdUVeCpCmb4JcYVWvvCUEgpSU7HS5xhsY=" crossorigin="anonymous"></script>

  <script id="foodlist" type="text/tsv" src="./foods.tsv"></script>
  <script id="template_card" type="text/template">
    <div id="<%- id %>" class="card <% print(border_class[status]) %> mb-3">
      <div class="card-body">
        <h4 class="card-title"><%- title %> <small class="<% print(label_class[status]) %>"><% print(label[status]) %></small></h4>
        <h6 class="card-subtitle mb-2 text-muted"><% print(types.join(", ")) %></h6>
        <p class="card-text"><%- description %></p>
        <% if (exceptions) { %>
          <h6 class="card-text">Exceptions:</h6>
          <% exceptions.forEach(function(ex) { %>
            <a href="#<%- ex.id %>" class="card-link <% print(exception_class[status])%>"><%- ex.title %></a>
          <% }); %>
        <% } %>
      </div>
    </div>
  </script>
  <script id="template_type" type="text/template">
    <button type="button" class="btn btn-light filter-type"><%- type %></button>
  </script>
  <script src="./index.js"></script>
  </body>
</html>
